<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Cadastro</title>
	<link href="/css/cadastros.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<form method="POST">
			Nome: <input type="text" id="txtNome" placeholder="Seu Nome Real" required><br>
			Email: <input type="text" id="txtEmail" placeholder="Seu Email" required><br>
			Data Nascimento: <input type="date" id="dtNasc" required><br>
			Usuário: <input type="text" id="txtUser" placeholder="Apelido" required><br>
			Senha: <input type="password" id="txtSenha" placeholder="*****" required>
		</form>
		<div id="form">
		<a href="/"><button name="btnCadastrar" id="default_button">Cadastrar</button></a>
		<a href="/"><button name="btnMenu" id="default_button">← Voltar</button></a>
	</div>
</div>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
