<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Cadastro</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body>
	<nav id="nav">
		<a href="/">Home</a>
		<a href="/mvc">Index</a>
		<a href="/http">Cadastros</a>
	</nav>
</body>
</html>