<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Configurações</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Configurações</h1>
<div class="config">
	<div id="form">
		<label id="config-box">Áudio</label>
		<label class="switch">
			<input type="checkbox" checked>
			<span class="slider"></span>
		</label>
	</div>

	<div id="form">
		<label id="config-box">Modo Daltônico</label>
		<label class="switch">
			<input type="checkbox">
			<span class="slider"></span>
		</label>
	</div>

	<div id="form">
		<label id="config-box">Cor de Fundo</label>
		<select name="background" id="default_button">
			<option value="azul-marinho">Azul Marinho</option>
		</select>
			<!--<input type="color" id="html5colorpicker" onchange="clickColor(0, -1, -1, 5)" value="#ff0000" style="width:85%">-->
	</div>
</div>
<div class="empty">
</div>
	<a href="/menu"><button name="btnVoltar" id="default_button" href="/menu">Voltar</button></a>
	<a href="/"><button name="btnAplicar" id="default_button" href="/menu">Aplicar</button></a>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
