<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SlideQuest - Créditos</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="../public/css/creditos.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Creditos</h1>
	<div class="alinhamento">
	<div class="creditos">
		<h3>Programadores</h3>
		<p>Guilherme dos Santos Matos</p>
		<p>Mateus de Oliveira</p>
		<h3>Especialistas em Banco de Dados</h3>
		<p>Mateus de Oliveira</p>
		<p>Jailson Antônio de Souza</p>
		<h3>Gestor de Projetos</h3>
		<p>Guilherme dos Santos Matos</p>
		<h3>Compositores Musicais</h3>
		<p>Kevin Macleod</p>
		<a href="https://incompetech.com/">Incompetech</a>
	</div>
</div>
	<a href="menu.html" id="default_button">Voltar</a>
	<a href="licenca.html" id="default_button" title="&copy; Todos os créditos referente aos donos originais dos conteúdos incluso no jogo">Informações Legais</a><br>
<footer>
	Versão 0.7 &copy; Copyright SENAI - All Rights Reserved (Versão OFFLINE)
</footer>
</body>
</html>
