<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Créditos</title>
	<link href="/css/creditos.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Créditos</h1>
	<div class="alinhamento">
	<div class="creditos">
		<h3>Programadores</h3>
		<p>Guilherme dos Santos Matos</p>
		<p>Fábio Lino</p>
		<h3>Especialistas em Banco de Dados</h3>
		<p>Mateus de Oliveira</p>
		<p>Jailson Antônio de Souza</p>
		<h3>Gestor de Projetos</h3>
		<p>Guilherme dos Santos Matos</p>
		<h3>Compositores Musicais</h3>
		<p>N/A</p>
	</div>
</div>
	<a href="/menu"><button name="btnVoltar" id="default_button" href="/menu">Voltar</button></a><br>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
