<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Frutorama</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="/css/fases.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
<h1>Frutorama</h1>
</div>
<h1 id="subheader">Selecione o modo em que pretende jogar</h1>
<div id="form">
		<a href="/n1" id="game_button" title="Inicia o jogo no modo normal">Modo Normal</a><br>
		<a href="/contratempo" id="game_button" title="Inicia o modo contra o relógio">Contra o Tempo</a>
</div>
	<a href="/menu" id="default_button" title="Voltar ao menu">Voltar</a>
<footer>
	Versão 0.8 &copy; Copyright SENAI - All Rights Reserved (Sinatra)
</footer>
</body>
</html>