<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Home</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
	<nav id="navbar">
		<a href="/">Home</a>
		<a href="/index">Index</a>
		<a href="/Cadastro">Cadastrar</a>
	</nav>
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div >
</body>

</html>