<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Home</title>
	<link href="/css/home.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<ul>
		<li><a href="/login"><button name="btnLogin" id="default_button">Login</button></a></li>
		<li><a href="/cadastros"><button name="btnCadastro" id="default_button" href="/cadastros">Cadastrar</button></a>
	    </ul>
	</div>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
