<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Home</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<a href="/login"><button name="btnLogin" id="bt-yellow">Login</button></a><br>
		<a href="/cadastros"><button name="btnCadastro" id="bt-yellow" href="/cadastros">Cadastrar</button></a><br>
	</div>
</body>
<footer id="copyright">
	Version 0.1 &copy Copyright SENAI - All Rights Reserved
</footer>
</html>