<!DOCTYPE html>
<html>
<head>
	<title>Frutorama - Home</title>
	<link href="/css/home.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Frutorama</h1>
	</div>
	<div id="form">
		<a href="/menu" id="default_button">Acessar</a><br>
		<a href="/login" id="default_button">Logar</a><br>
		<a href="/cadastros" id="default_button">Cadastrar</a>
	</div>
<footer>
	Version 0.7 &copy; Copyright SENAI - All Rights Reserved (Edição Sinatra)
</footer>
</body>
</html>
