<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Home</title>
	<!--<link rel="stylesheet" href="../stylesheet/design.css">-->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
	<nav id="nav">
		<a href="/">Home</a>
		<a href="/mvc">MVC</a>
		<a href="/http">HTTP</a>
		<a href="/api">API</a>
		<a href="/frameworks">Frameworks</a>
		<a href="/git">Git</a>
	</nav>
	<div id="manifesto">
		<h1>Prova</h1>
	</div>
</body>
</html>