<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
	<footer>
		Version 0.1 &copy Copyright SENAI - All Rights Reserved
	</footer>
</body>
</html>
