<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Jogo</title>
	<link href="/css/jogo.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">

<div id="subheader">
<h1>Estágio <i>1/20</i></h1>
</div>
<div>
<form id="form">
	<table id="grid" border="1" align="center" width=35% height=50%>
   <tr height=100px>
   	<td>			1		</td> <td>		 2		 </td> <td>		 3		 </td> </tr>
   <tr height=100px><td>		4		</td> <td>		5		</td> <td>		6		</td> </tr>

   <tr height=100px><td>		7		</td> <td>		8		</td> <td>			</td> </tr>
</table>
</form>
</div>
<br>
<br>
<a href="/menu"><button name="btnSair" id="default_button">Sair</button></a>
<a href="/jogo"><button name="btnReiniciar" id="default_button">Reiniciar</button></a>
<button name="btnProximaFase" id="default_button">Proxima Fase</button>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>