<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Frutorama - Informações Legais</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="/css/licenca.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Frutorama</h1>
	</div>
		<h1 id="subheader">&copy; Licenças e direitos autorais &copy;</h1>
	<div class="alinhamento">
		<h1 id="subheader">Termos</h1>
	<div class="termos">
		<h1>TERMOS</h1>
		<h3>O Uso do material abaixo é únicamente para aprendizagem,</h3>
		<h3>de modo que não se obterá lucro com a utilização do conteúdo</h3>
		<h3>intelectual, preservando os direitos a seus respectivos donos.</h3><br>
		<h3>Os autores, objetos, imagens e propiedades musicais terão seus</h3>
		<h3>Direitos reservados e mantidos, conforme manda a lei <b>9610/98<b>.</h3>
	</div>
		<h1 id="subheader">Fontes</h1>
	<div class="license">
		<h2 id="NOZ_sample">NOZSTUDIO</h2>
		<p>Fonte NOZSTUDIO. Propietário: Raul Queiroz (Alias: 1OGRO)</p><br>
		<a href="https://www.dafont.com/pt/raul-queiroz.d2599">Link</a>
	</div><br>
	<div class="license">
		<h2 id="dig_sample">04b_19</h2>
		<p>Fonte 04b_19. Propietário: Yuji Oshimoto (Alias: 04)</p><br>
		<a href="https://www.dafont.com/pt/04.d4">Link</a>
	</div><br>
	<div class="license">
		<h2 id="pepper_sample">Pepperoni Pizza</h2>
		<p>Fonte Pepperoni Pizza. Propietário: 28Fonts (Alias: 28F)</p><br>
		<a href="https://www.dafont.com/pt/28fonts.d5267">Link</a>
	</div><br>
	<div class="license">
		<h2 id="neig_sample">Neigfriste</h2>
		<p>Fonte Neigfriste. Propietário: Situjuh Nazara (Alias: 7NTypes)</p><br>
		<a href="https://www.dafont.com/pt/situjuh-nazara.d3793">Link</a>
	</div><br>
	<div class="license">
		<h2 id="neig_sample">Open-Dyslexic</h2>
		<p>Fonte Open-Dyslexic. Propietário: Abelardo Gonzalez</p><br>
		<a href="https://www.dafont.com/pt/abelardo-gonzalez.d3524">Link</a>
	</div><br>
	<h1 id="subheader">Músicas</h1>
	<div class="license">
		<h2>Kevin Macleod</h2>
		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>DD Groove</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>At the Shore</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>BossaBossa</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Funkorama</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Modern Jass Samba</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Vivacity</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Wepa</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Dreamer</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Werq</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Club Seamus</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>The Lift</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Harmful or Fatal</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Rhinoceros</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Discovery Hit</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Loping Sting</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Evening Melodrama</b></p>
		<a href="https://incompetech.com/">Incompetech</a>

		<p>Compositor: Kevin Macleod</p>
		<p>Música: <b>Mandeville</b></p>
		<a href="https://incompetech.com/">Incompetech</a>
		
	</div>
	<h1 id="subheader">Licença Creative Commons &copy;</h1>
	<div class="license">
		<h3>Licensed under Creative Commons: By Attribution 3.0 License
		http://creativecommons.org/licenses/by/3.0/</h3>
	</div>
</div>
	<a href="/creditos" id="default_button">Voltar</a><br>
<footer>
	Versão 0.8 &copy; Copyright SENAI - All Rights Reserved (Versão OFFLINE)
</footer>
</body>
</html>