<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Ranking</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-ranking">
	<div id="hRanking">
		<h1>Fim de Jogo</h1>
		<h3>Jogador</h3>
		<h3 style="color: #0c7a92;"><i>22.425</i> Pontos</h3>
		<button id="bt-ranking">Salvar</button>
		<a href="/"><button id="bt-ranking">Sair</button></a>
	</div>	
</body>
	  <table id="table" border="1";	width="40%"; summary="Esta tabela fornece o ranking de líderes" align="center" padding="1em";>                       
            <thead>
                <tr>
                    <th>Ranking</th>
                    <th>Nome</th>
                    <th>Pontuação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>            
                <tr>
                    <td>3</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
            </tbody>
        </table>
        <footer>
			Version 0.1 &copy Copyright SENAI - All Rights Reserved
		</footer>
</body>
</html>
