<!DOCTYPE html>
<html>
<head>
	<title>Logar</title>
	<link href="/css/login.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
		<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<form method="POST">
		<p>Login: <input type="text" required></p>
		<p>Senha: <input type="password" required></p>
		</form>
		<div id="form">
		<a href="/"><button name="btnMenu" id="default_button">Voltar</button></a>
		<a href="/redefinir"><button name="btnMenu" id="default_button">Esqueci minha Senha</button></a>
		<a href="/menu"><button name="btnAcessar" id="default_button">Acessar</button></a>
	</div>
	</div>
	<footer>
		Version 0.2 &copy Copyright SENAI - All Rights Reserved
	</footer>
</body>
</html>
