<!DOCTYPE html>
<html>
<head>
	<title>Logar</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
		<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<form method="POST">
			Login: <input type="text" required><br>
			Senha: <input type="password" required><br>
		</form>
		<div id="form">
		<a href="/menu"><button name="btnAcessar" id="bt-yellow">Acessar</button></a>
		<a href="/redefinir"><button name="btnMenu" id="bt-yellow">Esqueci minha Senha</button></a>
		<a href="/"><button name="btnMenu" id="bt-yellow">Voltar</button></a>
	</div>
	</div>
	<footer>
		Version 0.1 &copy Copyright SENAI - All Rights Reserved
	</footer>
</body>
<footer>
	Version 0.1 &copy Copyright SENAI - All Rights Reserved
</footer>
</html>
