<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Menu Principal</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Menu Principal</h1>
	<div id="form">
		<a href="/jogo"><button name="btnJogar" id="bt-yellow">Jogar</button></a><br>
		<a href="/fases"><button name="btnFases" id="bt-yellow" href="/cadastros">Escolher a Fase</button></a><br>
		<a href="/configuracoes"><button name="btnConfig" id="bt-yellow">Configurações</button></a><br>
		<a href="/perfil"><button name="btnPerfil" id="bt-yellow" href="/cadastros">Editar Perfil</button></a><br>
		<a href="/creditos"><button name="btnCreditos" id="bt-yellow">Creditos</button></a><br>
		<a href="/lideres"><button name="btnLeaderboard" id="bt-yellow">Placar de líderes</button></a><br>
		<a href="/"><button name="btnSair" id="bt-yellow" href="/cadastros">Desconectar</button></a><br>
	</div>
<footer id="copyright">
	Version 0.1 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>