<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Menu Principal</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<body class="bg-yellow">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<h1 id="subheader">Menu Principal</h1>
	<div id="form">
		<ul>
		<li><a href="/jogo"><button name="btnJogar" id="bt-yellow">Jogar</button></a></li>
		<li><a href="/fases"><button name="btnFases" id="bt-yellow" href="/cadastros">Escolher a Fase</button></a></li>
		<li><a href="/configuracoes"><button name="btnConfig" id="bt-yellow">Configurações</button></a></li>
		<li><a href="/perfil"><button name="btnPerfil" id="bt-yellow" href="/cadastros">Editar Perfil</button></a></li>
		<li><a href="/creditos"><button name="btnCreditos" id="bt-yellow">Creditos</button></a></li>
		<li><a href="/lideres"><button name="btnLeaderboard" id="bt-yellow">Placar de líderes</button></a></li>
		<li><a href="/"><button name="btnSair" id="bt-yellow" href="/cadastros">Desconectar</button></a></li>
	</ul>
	</div>
<footer>
	Version 0.1 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
