<!DOCTYPE html>
<html>
<head>
	<title>Frutorama - Menu Principal</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
	<link rel="icon" href="/favicon-16x16.png">
	<script src="/js/Jquery.js"></script>
	<script src="/js/intro.js"></script>
</head>
<body class="fundo" onload="preparar();">
<div id="header">
	<h1>Frutorama</h1>
</div>
<h1 id="subheader">Menu Principal</h1>
<div class="intro" onclick="inicio()">
	<h1>Bem Vindo!</h1>
		<h3>Comunicado</h3>
		<p>Olá. Devido as novas políticas de privacidade</p>
		<p>alguns navegadores precisam que o usuário</p>
		<p>interaja com a página para que certas funções</p>
		<p>aconteçam ou sejam executadas.</p>
		<p>Para avançar para a página principal, clique</p>
		<p>em qualquer região deste comunicado.</p>
</div>
<div id="form">
	<a href="/fases" id="default_button">Iniciar</a><br>
	<a href="/creditos" id="default_button">Creditos</button></a><br>
	<a href="/lideres" id="default_button">Placar de líderes</a><br>
	<a href="/" id="default_button">Desconectar</a><br>
</div>
<audio src="/sons/Funkorama.mp3" preload="auto" id="music0"></audio>
<audio src="/sons/Mandeville.mp3" preload="auto" id="music1"></audio>
<audio src="/sons/DD_Groove.mp3" preload="auto" id="music2"></audio>
<footer>
	Version 0.7 &copy; Copyright SENAI - All Rights Reserved (OFFLINE VERSION)
</footer>
</body>
</html>
