<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Edição de Perfil</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
<div class="config">
	<h1 id="subheader">Perfil</h1>
	<div id="form">
		<label id="config-box">Alterar Nome</label>
		<input type="text" id="txtNome"><br>
	</div>
	<div id="form">
		<label id="config-box">Alterar E-mail</label>
		<input type="text" id="txtEmail"><br>
	</div>
	<div id="form">
		<label id="config-box">Alterar Senha</label>
		<a href="/redefinir"><button name="btnSenha" id="bt-yellow">Alterar Senha</button></a>
	</div>
	<div id="form">
		<label id="config-box">Alterar Foto</label>
		<a href="/redefinir"><button name="btnFoto" id="bt-yellow">Alterar Foto</button></a>
	</div>
</div>
	<a href="/"><button name="btnSalvar" id="bt-yellow" onclick="">Salvar</button></a>
	<a href="/menu"><button name="btnVoltar" id="bt-yellow" href="/menu">Voltar</button></a><br>
</body>
<footer id="copyright">
	Version 0.1 &copy Copyright SENAI - All Rights Reserved
</footer>
</html>
