<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest - Edição de Perfil</title>
	<link rel="icon" href="/favicon.ico">
	<link href="/css/perfil.css" type="text/css" rel="stylesheet" type="image/x-icon"/>
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
<div class="alinhamento">
<div class="config">
	<h1 id="subheader">Perfil</h1>
	<div id="form">
		<label id="config-box">Alterar Nome: </label>
		<input type="text" id="txtNome"><br>
	</div>
	<div id="form">
		<label id="config-box">Alterar E-mail: </label>
		<input type="text" id="txtEmail"><br>
	</div>
	<div id="form">
		<label id="config-box">Alterar Senha: </label>
		<a href="/redefinir"><button name="btnSenha" id="botao_perfil">Alterar Senha</button></a>
	</div>
	<div id="form">
		<label id="config-box">Alterar Foto: </label>
		<a href="/redefinir"><button name="btnFoto" id="botao_perfil">Alterar Foto</button></a>
	</div>
</div>
</div>
<div class="empty">
</div>
	<a href="/menu"><button name="btnVoltar" id="default_button" href="/menu">Voltar</button></a>
	<a href="/"><button name="btnSalvar" id="default_button" onclick="">Salvar</button></a>
<footer>
	Version 0.2 &copy Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>
