<!DOCTYPE html>
<html>
<head>
	<title>Logar</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
		<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<form method="POST">
			Digite seu Email: <input type="text" required><br>
		</form>
		<div id="form">
		<a href="/"><button name="btnMenu" id="bt-yellow">Redefinir Senha</button></a>
		<a href="/cadastros"><button name="btnMenu" id="bt-yellow">Voltar</button></a>
	</div>
	</div>
</body>
	<title>Slide Quest - Redefinição de Senha</title>
	<link href="/css/design.css" type="text/css" rel="stylesheet">
</head>
<body class="bg-yellow">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<h3>Digite seu E-mail abaixo para receber um link de redefinição de senha</h3>
		<form method="POST">
			Email <input type="text" id="txtEmail" placeholder="Email" required><br>
		</form>
		<div id="form">
		<a href="/"><button name="btnRedefinir Senha" id="bt-yellow">Enviar</button></a>
		<a href="/login"><button name="btnCancelar" id="bt-yellow">Cancelar</button></a>
	</div>
	</div>
</body>
<footer id="copyright">
	Version 0.1 &copy Copyright SENAI - All Rights Reserved
</footer>
</html>