<!DOCTYPE html>
<html>
<head>
	<title>Slide Quest - Redefinição de Senha</title>
	<link href="/css/redefinir.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Slide Quest</h1>
	</div>
	<div id="form">
		<h3>Digite seu E-mail abaixo para receber um link de redefinição de senha</h3>
		<form method="POST">
			Email <input type="text" id="txtEmail" placeholder="Email" required><br>
		</form>
		<div id="form">
		<a href="/login"><button name="btnCancelar" id="default_button">Cancelar</button></a>
		<a href="/"><button name="btnRedefinir Senha" id="default_button">Enviar</button></a>
	</div>
	</div>
	<footer>
		Version 0.2 &copy Copyright SENAI - All Rights Reserved
	</footer>
</body>
</html>
