<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Frutorama - Tutoriais</title>
	<link rel="icon" href="../favicon-16x16.png">
	<link href="/css/tutorial.css" type="text/css" rel="stylesheet">
</head>
<body class="fundo">
	<div id="header">
		<h1>Frutorama</h1>
	</div>
	<h1 id="subheader">Tutoriail de como Jogar</h1>
	<div id="form">
		<h3>Como jogar</h3>
		<p>Mova a cesta com A e D, ou as Setas ← e →.</p>
		<p>A lista abaixo informa o que cada item faz</p>
	</div><br>
<div id="lista">
	<h1>Itens</h1>
	<div id="maca" title="Maçã"></div>
	<p>Maçã: Concede 100 pontos</p>
	<div id="maca_v" title="Maça_Verde"></div>
	<p>Maçã Verde: Concede 100 pontos</p>
	<div id="laranja" title="Laranja"></div>
	<p>Laranja: Concede 100 pontos</p>
	<div id="melao" title="Melão"></div>
	<p>Melão: Concede 300 pontos</p>
	<div id="melancia" title="Melancia"></div>
	<p>Melancia: Concede 750 pontos</p>
	<div id="leite" title="Leite"></div>
	<p>Leite: Concede 250 pontos e 1 vida</p>
	<div id="chocolate" title="Chocolate 70% de Cacau"></div>
	<p>Chocolate de Cacau: Concede 200 pontos</p>
	<div id="cereja" title="Cereja"></div>
	<p>Cereja: Concede 50 pontos</p>
	<div id="donut" title="Rosquinha"></div>
	<p id="ng1">Rosquinha: Desconta uma vida</p>
	<div id="refri" title="refri"></div>
	<p id="ng2">Refrigerante: Desconta uma vida</p>
	<div id="miojo" title="Macarrão Instantâneo"></div>
	<p id="ng3">Macarrão Instantâneo: Desconta uma vida</p>
	<div id="choc_v" title="Chocolate c/ gordura vegetal"></div>
	<p id="ng4">Chocolate c/ Gordura vegetal: Desconta 1 vida</p>
	<div id="cigarro" title="Maço de Cigarros"></div>
	<p id="ng5">Cigarros: Descontam 2 vidas</p>
	<div id="whiskey" title="Garrafa de Úisque"></div>
	<p id="ng6">Úisque: Desconta 2 vidas</p>
</div>
<div id="buttonrow">
<a href="/menu" id="default_button">Voltar</a>
</div>
<footer>
	Versão 0.8 &copy; Copyright SENAI - All Rights Reserved
</footer>
</body>
</html>