#nav {
	padding: 1em;
	background-color: rgb(40, 99, 71);
	color: #DDD;
	font-family: verdana;
	font-size: 16px;
}
#manifesto {
	padding: 1em;
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}
