html, body {
	height: 60%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Divs e Containers*/
#header {
	font-family: BankGothic Md BT, fantasy;
	font-size: 60px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

#subheader {
	font-family: BankGothic Md BT, fantasy;
	font-size: 50px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

#default_button {
	padding: 1em;
	min-width: 180px;
	max-width: 300px;
	border: 0px solid #000;
	border-radius: 0px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: Humnst777 BT, calibri, arial;
	font-size: 18px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #003e83 10%, #0063d0 100%);
	color: #FFF;
}

#default_button:hover {
	background:linear-gradient(to bottom, #0157b7 10%, #0078fc 100%);
	-webkit-transition: .5s;
	transition: .5s;
	color: #000;
}

/* Planos de Fundo*/
.fundo {
	background-color: #0a131a;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

#form {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #FFF;
}
#form ul {list-style: none;}

#form li {margin-bottom: 6px;}

.signup {
	margin-left: 33em;
	width: 400px;
	position: center;
	background:linear-gradient(to bottom, #003e83 10%, #0063d0 100%);
	border: 1px solid black;
	float: middle;
	text-align: center;
}

.signup label{
	font-family: verdana;
	font-size: 16px;
	color: white;
	position: center;
	float: left;
	text-align: center;
}

.signup input {
    font-family: verdana;
    background-color: #FFF;
    border: 1px solid black;
    float: right;
    width: 50%;
    height: 15px;
    padding: 3px;
}
footer {
	font-family: verdana;
	font-size: 14px;
	color: #FFF;
	text-align: right;
	text-shadow:0px 0px 8px #FF0;
	padding-bottom: 3em;
	padding-top: 10em;
	padding-right: 3em;
}
