html, body {
	height: 60%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* Divs e Containers*/
#header {
	font-family: BankGothic Md BT, fantasy;
	font-size: 60px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

#subheader {
	font-family: BankGothic Md BT, fantasy;
	font-size: 50px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

#form {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #FFF;
}
#form ul {list-style: none;}

#form li {margin-bottom: 6px;}

footer {
	font-family: verdana;
	font-size: 14px;
	color: #FFF;
	text-align: right;
	text-shadow:0px 0px 8px #FF0;
	padding-bottom: 3em;
	padding-top: 2em;
	padding-right: 3em;
}

.config {
	min-width: 450px;
	max-width: 450px;
	align-content: center;
	margin-left: 38em;
	margin-right: 10em;
	border: 1px solid;
	border-radius: 0px;
	font-size: 14px;
	font-family: verdana;
	text-align: center;
	border: 1px solid #000;
	background:linear-gradient(to bottom, #0063d0 10%, #003e83 100%);
	color: #FFF;
	float: middle;
}

.alinhamento {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #000;
}
/* Botões e caixas*/
#config-box {
	width: 150px;
	height: 22px;
	font-size: 16px;
	font-family: verdana;
	font-weight:bold;
	text-align: center;
	color: #000;
}

#default_button {
	padding: 1em;
	min-width: 180px;
	max-width: 300px;
	border: 0px solid #000;
	border-radius: 0px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: Humnst777 BT, calibri, arial;
	font-size: 18px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #003e83 10%, #0063d0 100%);
	color: #FFF;
}

#default_button:hover {
	background:linear-gradient(to bottom, #0157b7 10%, #0078fc 100%);
	-webkit-transition: .5s;
	transition: .5s;
	color: #000;
}

/* Planos de Fundo*/
.fundo {
	background-color: #0a131a;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

.bg-blue {
	background:linear-gradient(to bottom, #3d07ff 10%, #5526ff 100%);
	font-family: verdana;
	font-size: 16px;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-attachment: fixed;
}
.bg-ranking{
	background: linear-gradient(to bottom right, #ef9288, #8be9f9);
	font-size: 16px;
	text-align: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
#navbar {
	padding: 1em;
	font: verdana;
	color: #000;
	text-shadow: 0px 1px 0px #000;
	background-color: #F90;
}

#table{
	height: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
}
