html, body {
	margin: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#header {
	font-family: Vladimir Script;
	font-size: 60px;
	text-align: center;
	text-shadow:0px 4px 0px #000;
	color: #888;
}

#subheader {
	font-family: Vladimir Script;
	font-size: 50px;
	text-align: center;
	text-shadow:0px 2px 4px #000;
	color: #888;
}

#form {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #000;
}

#bt-yellow {
	padding: 1em;
	min-width: 180px;
	max-width: 300px;
	border: 0px solid #000;
	border-radius: 40px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: verdana;
	font-weight:bold;
	font-size: 16px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #F90 10%, #F2ED00 100%);
	color: #000;
}

#bt-yellow:hover {
	background:linear-gradient(to bottom, #09F 10%, #00EDF2  100%);
	-webkit-transition: .5s;
	transition: .5s;
}

.bg-yellow {
	background:linear-gradient(to bottom, #FFCD6E 10%, #FFF288 100%);
	font-family: verdana;
	font-size: 16px;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-attachment: fixed;
}