html, body {
	margin: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#header {
	font-family: BankGothic Md BT, fantasy;
	font-size: 60px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

#subheader {
	font-family: BankGothic Md BT, fantasy;
	font-size: 50px;
	text-align: center;
	text-shadow:0px 0px 8px #FF0;
	color: #FFF;
}

#form {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #000;
}

#default_button {
	padding: 1em;
	min-width: 180px;
	max-width: 300px;
	border: 0px solid #000;
	border-radius: 0px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: Humnst777 BT, calibri, arial;
	font-size: 18px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #003e83 10%, #0063d0 100%);
	color: #FFF;
}

#default_button:hover {
	background:linear-gradient(to bottom, #0157b7 10%, #0078fc 100%);
	-webkit-transition: .5s;
	transition: .5s;
	color: #000;
}

.fundo {
	background-color: #0a131a;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}
/* Design dos Botões das fases*/
.stages {
	height: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	background-color: #222;
	color: #000;
}
.stages td{
	width: 50px;
	height: 50px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	cursor:pointer;
	background:linear-gradient(to bottom, #00cec7 10%, #00938e 100%);
	border: 1px solid black;
	color: #000;
}
/* Design das Informações da Fase */
.info {
	height: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	background-color: #222;
	color: #000;
}
.info td{
	width: 50px;
	height: 50px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	cursor:pointer;
	background:linear-gradient(to bottom, #FF0 10%, #F90 100%);
	border: 1px solid black;
	color: #000;
}
/* Informações sobre Tempo, Pontuação e Bonus de Dificuldade*/
.status {
	height: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	background-color: #222;
	color: #000;
}
.status td{
	width: 140px;
	height: 35px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	cursor:pointer;
	background:linear-gradient(to bottom, #FF0 10%, #F90 100%);
	border: 1px solid black;
	color: #000;
}

footer {
	font-family: verdana;
	font-size: 14px;
	color: #FFF;
	text-align: right;
	text-shadow:0px 0px 8px #FF0;
	padding-bottom: 3em;
	padding-top: 15em;
	padding-right: 3em;
}
