@font-face {
	font-family: NOZSTUDIO;
	src:url(../fonts/NOZSTUDIO.TTF);
}
@font-face {
	font-family: Digital;
	src:url(../fonts/Digital.TTF);
}
@font-face {
	font-family: Pepperoni;
	src:url(../fonts/pepperoni_pizza.TTF);
}
@font-face {
	font-family: Neigfriste;
	src:url(../fonts/Neigfriste.TTF);
}
@font-face {
	font-family: OpenDyslexic;
	src:url(../fonts/OpenDyslexic.TTF);
}

html, body {
	height: 60%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Divs e Containers*/
#header {
	font-family: Pepperoni;
	font-size: 50px;
	text-align: center;
	text-shadow:0px 0px 15px #F00;
	color: #F90;
}

#subheader {
	font-family: Pepperoni;
	font-size: 30px;
	text-align: center;
	text-shadow:0px 0px 8px #00B8C9;
	color: #FFF;
}

#default_button {
	padding: 1em;
	min-width: 180px;
	max-width: 300px;
	border: 0px solid #000;
	border-radius: 0px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: Neigfriste;
	font-size: 18px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #003e83 10%, #0063d0 100%);
	color: #FFF;
}

#default_button:hover {
	background:linear-gradient(to bottom, #0157b7 10%, #0078fc 100%);
	-webkit-transition: .5s;
	transition: .5s;
	color: #000;
}

/* Planos de Fundo*/
.fundo {
	background-color: #0a131a;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

#form {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #FFF;
}
#form ul {list-style: none;}

#form li {margin-bottom: 6px;}

footer {
	position: absolute;
	font-family: OpenDyslexic;
	font-size: 14px;
	color: #FFF;
	text-align: right;
	text-shadow:0px 0px 8px #00FFA0;
	top: 95%;
	left: 60%;
}
