@font-face {
	font-family: NOZSTUDIO;
	src:url(../fonts/NOZSTUDIO.TTF);
}
@font-face {
	font-family: Digital;
	src:url(../fonts/Digital.TTF);
}
@font-face {
	font-family: Pepperoni;
	src:url(../fonts/pepperoni_pizza.TTF);
}
@font-face {
	font-family: Neigfriste;
	src:url(../fonts/Neigfriste.TTF);
}
@font-face {
	font-family: OpenDyslexic;
	src:url(../fonts/OpenDyslexic.TTF);
}

.alinhamento {
	padding: 1em;
	font-family: verdana;
	font-size: 15px;
	text-align: center;
	color: #000;
}

#header {
	font-family: Pepperoni;
	font-size: 40px;
	text-align: center;
	text-shadow:1px 1px 3px #cc9c02;
	color: #00000055;
}

#subheader {
	font-family: OpenDyslexic;
	font-size: 30px;
	text-align: center;
	text-shadow:1px 1px 3px #a5a4a0;
	color: #00000055;
}

#NOZ_sample {
	font-family: NOZSTUDIO;
}
#dig_sample {
	font-family: Digital;
	text-shadow: 0px 2px 15px #000;
}
#pepper_sample {
	font-family: Pepperoni;
	text-shadow: 0px 2px 15px #000;
}
#neig_sample {
	font-family: Neigfriste;
}
#open_sample {
	font-family: OpenDyslexic;
}
.license {
	width: 500px;
	min-height: 150px;
	max-height: 1800px;
	display:inline-block;
	text-align: center;
	font-size: 14px;
	font-family: arial;
	text-align: center;
	border: 1px solid #FFFFFF55;
	background-color: #000000BB;
	color: #FFF;
}
.license a{
	text-align: center;
	font-size: 16px;
	font-family: arial;
	text-align: center;
	color: #EEE;
}
.termos {
	display:inline-block;
	text-align: center;
	font-size: 16px;
	font-family: OpenDyslexic;
	text-align: center;
	border: 2px solid #000482;
	background:linear-gradient(to bottom, #FFFFFFAA 10%, #FFFFFFEE);
	color: #000;
}

#default_button {
	padding: 1em;
	min-width: 180px;
	max-width: 300px;
	border: 0px solid #000;
	border-radius: 0px;
	display:inline-block;
	cursor:pointer;
	-webkit-transition: .5s;
	transition: .5s;
	font-family: Neigfriste;
	font-size: 18px;
	padding:6px 10px;
	text-decoration:none;
	box-shadow: 0px 3px 8px #000;
	background:linear-gradient(to bottom, #003e83 10%, #0063d0 100%);
	color: #FFF;
}

#default_button:hover {
	background:linear-gradient(to bottom, #0157b7 10%, #0078fc 100%);
	-webkit-transition: .5s;
	transition: .5s;
	color: #000;
}
/* Planos de Fundo*/

.fundo {
	background-color: #030308;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

/* Arquivos Padrões */
html, body {
	margin: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

footer {
	position: absolute;
	font-family: OpenDyslexic;
	font-size: 14px;
	color: #FFF;
	text-align: right;
	text-shadow:0px 0px 8px #00FFA0;
	top: 560%;
	left: 60%;
}
