
/*  Fontes */
#header {
	padding: 1em;
	font-family: Vladimir Script;
	font-size: 60px;
}
#form {
	padding: 1em;
	font-family: impact;
	font-size: 18px;
	border: 1px solid black;
}

/* Botões */
#bt-yellow {
	border: 1px solid #000;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	font-family: impact;
	font-weight:bold;
	font-size: 16px;
	padding:6px 10px;
	text-decoration:none;
	background:linear-gradient(to bottom, #F07000 10%, #F90   100%);
	color: #999;
	text-shadow:0px 2px 0px #000, 0px 0px 8px #000;
}
#bt-yellow:hover {
	background:linear-gradient(to bottom, #F90 10%, #F07000  100%);
}
/* Planos de Fundo*/
.bg-red {
	background-color: #000;
	background:linear-gradient(to bottom, #F07000 10%, #F90   100%);
	text-shadow:0px 2px 0px #000, 0px 0px 8px #000;
	color: #999;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}
.bg-orange {

}