<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AppGame</title>
	<link rel="stylesheet" type="text/css" href="./../layouts/design.css">
</head>
<body class="bg-gray">
<div id="header">
	<h1>Slide Quest</h1>
</div>
<div id="form">
	<form method="POST">
	<fieldset>
		Nome: <input type="text" name="txtNome" required><br>
		Email: <input type="text" name="txtEmail" required><br>
		Data de Nascimento: <input type="date" name="dtData" required><br>
		Login: <input type="text" name="txtLogin" required><br>
		Senha: <input type="password" name="txtSenha" required>
	</fieldset>
	<fieldset>
		<input id="bt-gray" type="submit" value="Cadastrar">
	</fieldset>
</div>
</form>
</body>
</html>